<a href="https://colab.research.google.com/github/anusha123-routhu/python/blob/main/Accenture_coding_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**REVERSE A STRING**

In [ ]:
s=input()
reverse=s[::-1]
print(reverse)

reverse
esrever

In [ ]:
n=input()
reverse=""
for char in n:
  reverse=char+reverse
  print(reverse)

what
tahw

In [ ]:
def reverse_string(s):
  reverse=" "
  for char in s:
    reverse=char+reverse
  return reverse
s=input()
reverse=reverse_string(s)
print(reverse)

what
tahw

**Maximum element in an array**

In [ ]:
def find_maximum(arr):
    if len(arr) == 0:
        return None
    maximum = arr[0]
    for element in arr:
        if element > maximum:
            maximum = element
    return maximum

arr = list(map(int, input().split()))
maximum = find_maximum(arr)
print(maximum)

None

In [ ]:
#without uisng function
arr=list(map(int,input().split()))
if len(arr)==0:
  print("none")

else:
  maximum=arr[0]
  for element in arr:
    if element >  maximum:
      maximum=element
  print(maximum)

1  2  3  4
4

**Palindrome**

In [ ]:
n=input()
reverse=" "
for char in n:
  reverse=char+reverse
if n==reverse:
    print("palindrome")
else:
    print("not a palindrome")

121
not a palindrome

In [ ]:
def check_palindrome(s):
  reverse=""
  for char in s:
    reverse=char+reverse
  if s==reverse:
     print("palindrome")
  else:
    print("not a palindrome       , ,,,,")
s=input()
result=check_palindrome(s)
print(result)

121
palindrome
None

In [ ]:
n=input()
reverse="=-pl,lllll;."
for char in n :
  reverse =char+reverse
if n == reverse:
          print("palindrome")
else:
          print("not a palindrome")

121
palindrome

**`Missing Number in  an array`**

In [ ]:
def find_missing_numbers(arr):
    if not arr:
        return None  # Handle empty array case

    min_val = min(arr)
    max_val = max(arr)

    # Calculate the expected sum of all numbers from min_val to max_val
    sum_expected = sum(range(min_val, max_val + 1))
    sum_actual = sum(arr)

    # Missing numbers
    missing_sum = sum_expected - sum_actual

    # To find which exact numbers are missing, you can check each number in the range
    missing_numbers = []
    for num in range(min_val, max_val + 1):
         if num not in arr:
               missing_numbers.append(num)

    return missing_numbers

# Example usage
arr = list(map(int, input("Enter the elements of the array separated by spaces: ").split()))
missing_numbers = find_missing_numbers(arr)
print("The missing numbers are:", missing_numbers)

Enter the elements of the array separated by spaces: 1 2 3 5 7 9
The missing numbers are: [4, 6, 8]

In [ ]:
def find_missing_number(arr):
  if not arr:
    return None
  min_val=min(arr)
  max_val=max(arr)
  sum_expected=sum(range(min_val,max_val+1))
  sum_actual=sum(arr)
  missing_sum=sum_expected - sum_actual
  missing_numbers=[]
  for num in range(min_val,max_val+1):
    if num not in arr:
      missing_numbers.append(num)
  return missing_numbers
arr=list(map(int,input().split()))
missing_numbers=find_missing_number(arr)
print(missing_numbers)

1 4  5 7
[2, 3, 6]

In [ ]:
def find_missing_number(arr):
  if not arr:
    return None
  min_val=min(arr)
  max_val=max(arr)
  sum_expected=sum(range(min_val,max_val+1))
  sum_actual=sum(arr)
  missing_sum=sum_expected - sum_actual
  missing_numbers=[]
  for num in range(min_val,max_val+1):
    if num not in arr:
      missing_numbers.append(num)
  return missing_numbers
arr=list(map(int,input().split()))
missing_numbers=find_missing_number(arr)
print(missing_numbers)

1 2 3 5 6 7
[4]

**Find the intersection of 2 Arrays**

In [ ]:
def  intersection_of_arrays(arr1,arr2):
  return list(set(arr1) & set(arr2))
arr1=list(map(int,input().split()))
arr2=list(map(int,input().split()))
intersection=intersection_of_arrays(arr1,arr2)
print(intersection)

1 2 3 4
9 8 6 5
[]

In [ ]:
arr1=list(map(int,input().split()))
arr2=list(map(int,input().split()))
intersection=[]
for element in arr1:
  if element in arr2 and element not in intersection:
    intersection.append(element)
print(intersection)

12 14 15
12 15 17
[12, 15]

**Remove duplicates in an array**

In [ ]:
def remove_duplicates(arr):
    return list(set(arr))
arr=list(map(int,input().split()))
print(remove_duplicates(arr))

1 2 2 3 4 5 6 7 8 9 10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
arr=list(map(int,input().split()))
unique=[]
for element in arr:
  if element not in unique:
    unique.append(element)
print(unique)

1 2 3 4 5 6 7 8 9 9 9
[1, 2, 3, 4, 5, 6, 7, 8, 9]

**Count the occurance of an element in an array**

In [ ]:
def count_occurance(arr):
  counts ={}
for element in  arr:
  if element in counts:
     counts[element] += 1
  else:
    counts[element] = 1
arr=list(map(int,input().split()))
print(count_occurance(arr))

1 2 3 4 5
{1: 2, 2: 4, 3: 2, 4: 2, 5: 6}

In [ ]:
arr=list(map(int,input().split()))
counts={}
for element in arr:
  if element in counts:
     counts[element] += 1
  else:
    counts[element] = 1
print(counts)

1 2 2 3 4 5 5 5
{1: 1, 2: 2, 3: 1, 4: 1, 5: 3}

**ARMSTRONG NUMBER CHECK**

In [ ]:
num=input()
sum=0
for i in num:
  sum+=int(i)**len(num)
if sum==int(num):
    print("armstrong")
else:
    print("not an armstrong")

153
armstrong

In [ ]:
def armstrongcheck(num):
  sum=0
  for i in num:
    sum+=int(i)**len(num)
  if sum==int(num):
    return "armstrong"
  else:
    return "not a armstrong"
num=input()
print(armstrongcheck(num))

153
armstrong

**POSITIVE OR NEGATIVE NUM**

In [ ]:
num=int(input())
if num>0:
  print("positive")
else:
  print("negative")

6
positive

In [ ]:
def postivenegative_check(num):
  if num>0:
    return "postive"
  else:
    return "negative"
num=int(input())
print( postivenegative_check(num))

12
postive

**Even or odd Number**

In [ ]:
num=int(input())
if num % 2 == 0:
  print("even number")
else:
  print("odd number")

6
even number

In [ ]:
def evenodd_check(num):
  if num % 2 == 0:
    return "even number"
  else:
    return "odd number"
num=int(input())
print(evenodd_check(num))

67
odd number

Sum of 1st n natural number

In [ ]:
n=int(input())
sum=n*(n+1)//2
print(sum )

5
15

In [ ]:
def sumofnaturalnum(n):
  return n*(n+1)//2
num=int(input())
print(sumofnaturalnum(n))

4
15

**SUM OF N NATURAL NUMBERS**

In [8]:
n=int(input("enter n"))
total=0
for i in range(n):
  num=int(input("enter num"))
  total+=num
print(n,total)

enter n4
enter num5
enter num6
enter num7
enter num8
4 26

In [15]:
def sumofn_naturalnumbers(n):
    total = 0
    for i in range(n):
        num = int(input("Enter a number: "))
        total += num
    return total

n = int(input("Enter how many numbers: "))
total = sumofn_naturalnumbers(n)
print(total )

Enter how many numbers: 7
Enter a number: 8
Enter a number: 8
Enter a number: 8
Enter a number: 8
Enter a number: 8
Enter a number: 8
Enter a number: 8
56

**SUM OF NUMBERS IN A GIVEN RANGE**

In [23]:
n=int(input())
m=int(input())
total=0
for num in range(n,m+1):
  total+=num
print(n,m,":",total)

1
3
1 3 : 6

In [20]:
def sumofn_naturalnumbers(n,m):
   total=0
   for num in range(n,m+1):
      total+=num
   return total
n=int(input())
m=int(input())
total=sumofn_naturalnumbers(n,m)
print(total)

1
3
6

**GREATEST OF 2 NUMBERS**

In [25]:
n=int(input())
m=int(input())
if n>m:
  print(n)
elif m>n:
  print(m)
else:
  print("equal")

3
4
4

In [27]:
def greatestof_2_numbers(n,m):
  if n>m:
    return n
  elif m>n:
    return m
  else:
    return "equal"
n=int(input())
m=int(input())
result=(greatestof_2_numbers(n,m))
print(result)

3
5
5

**GREATEST OF 3 NUMBERS**

In [31]:
num1=int(input())
num2=int(input())
num3=int(input())
if num1>=num2 & num1>=num2:
  print(num1)
elif num2>=num1 & num2>=num3:
  print(num2)
else:
  print(num3)

3
4
5
5

In [32]:
def greatestof_3numbers(num1,num2,num3):
  if num1>=num2 & num1>=num3:
    return num1
  elif num2>=num3 & num2>=num1:
    return num2
  else:
    return num3
num1=int(input())
num2=int(input())
num3=int(input())
result=greatestof_3numbers(num1,num2,num3)
print(result)

6
7
7
7

**Leap year**

In [35]:
n=int(input())
if n % 400==0 or n%4==0 and n%100!=0:
  print("leap year")
else:
  print("not a leap year")

2024
leap year

In [36]:
def leapyear(year):
  if year%400==0 or year%4==0 and year%100!=0:
    return "leap year"
  else:
    return "not a leap year"
year=int(input())
print(leapyear(year))

2024
leap year

**PRIME NUMBERS**

In [42]:
n=int(input())
if n>1:
  for i in range(2,n):
    if n%i==0:
      print("prime")
      break
  else:
      print("not a prime")
else:
  print("not a prime number")

2
not a prime

In [45]:
def prime_number(n):
  if n>1:
    for i in range(2,n):
      if n%1==0:
        return "prime"
        break
    else:
      return "not a prime"
  else:
    return "not a primenumber"
n=int(input())
print(prime_number(n))

1
not a primenumber

**PRIME NUMBERS IN A GIVEN RANGE**

In [ ]:
n=int(input())
m=int(input())
for i in range(n,m)